**.tgz
node_modules

web/node_modules
web/app
web/components
web/hooks
web/lib
web/reason
web/components.json
web/README.md
web/tailwind.config.js
web/tailwind.config.ts
web/postcss.config.js
web/tsconfig.json

/*

!/dist
!/scripts
!/web
!/sample
!/sample/.reason.config.js
!/package.json